################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment_1_Calculator/Assignment_1_Calculator/obj
/Assignment_1_Calculator/.vs/Assignment_1_Calculator/v15
