################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment_1_Calculator/Assignment_1_Calculator/obj
/Assignment_1_Calculator/.vs/Assignment_1_Calculator/v15
/Assignment_1_Calculator/Assignment_1_Calculator/bin/Debug/netcoreapp2.2
/Assignment_2_Golf/Assignment_2_Golf_Test
/Assignment_2_Golf/Assignment_2_Golf
/Assignment_2_Golf/.vs/Assignment_2_Golf/v15
