################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment_1_Calculator/Assignment_1_Calculator/obj
/Assignment_1_Calculator/.vs/Assignment_1_Calculator/v15
/Assignment_1_Calculator/Assignment_1_Calculator/bin/Debug/netcoreapp2.2
/Assignment_2_Golf/Assignment_2_Golf/obj
/Assignment_2_Golf/.vs/Assignment_2_Golf/v15
/Assignment_2_Golf/Assignment_2_Golf_Test/obj
/Assignment_2_Golf/Assignment_2_Golf_Test/bin/Debug/netcoreapp2.2
/Assignment_2_Golf/Assignment_2_Golf/bin/Debug/netcoreapp2.2
/Assignment_3_ArenaFighter/.vs/Assignment_3_ArenaFighter/v15
/Assignment_3_ArenaFighter/Assignment_3_ArenaFighter/bin/Debug/netcoreapp2.2
/Assignment_3_ArenaFighter/Assignment_3_ArenaFighter/obj
/Assignment_3_ArenaFighter/Assignment_3_ArenaFighter_Test/obj
/Assignment_3_ArenaFighter/Assignment_3_ArenaFighter_Test/bin/Debug/netcoreapp2.2
/Assignment_4_VendingMachine/Assignment_4_VendingMachine_Test/obj
/Assignment_4_VendingMachine/Assignment_4_VendingMachine/obj
/Assignment_4_VendingMachine/.vs/Assignment_4_VendingMachine/v15
/Assignment_4_VendingMachine/Assignment_4_VendingMachine/bin/Debug/netcoreapp2.2
/Assignment_4_VendingMachine/Assignment_4_VendingMachine_Test/bin/Debug/netcoreapp2.2
